/.ccls-cache/
/gdcv.org
*.so
/index
/gmon.out
/analysis.txt
*.log
*.elc
*.pdf
/tests/testsuite
gdcv_debug
gdcv
/goldendict.leg
/gmon.out
/massif.out.*
/prof_output
/gdcv_valgrind
callgrind.out*
/Huge/
/tests/Huge_Index/
